POSTGRES_HOST='database'
POSTGRES_PORT='5432'
POSTGRES_USER='user'
POSTGRES_PASSWORD='pass'
POSTGRES_DATABASE=drive-cache
GDRIVE_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_API_KEY=
PASSPORT_SESSION_SECRET=