body {
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
    height: 100vh;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.button {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    min-height: 40px;
    width: 60%;
    color: #000000;
    background-color: #7ECDFA;
    border: none;
    border-radius: 6px;
    box-shadow: #5DA7DE 0px 50px 100px -20px, #5DA7DE 0px 30px 60px -30px, #5DA7DE 0px -2px 6px 0px inset;
    text-align: left;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'product_sansregular', sans-serif;
    font-size: 23px;
}

.checkbox {
    display: flex;
    min-width: 5%;
    min-height: 35px;
}

.material-icons {
    display: flex;
    min-width: 5%;
    min-height: 35px;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    
}

.button:hover {
    cursor: pointer;
    background-color: #94d3f7;
}

.boxDiv {
    align-items: left;
    width: 100%;
    border-style: double;
}

.parent {
    margin: 5px;
    width: 60%;
}

.child {
    margin: 5px 5px 5px 30px;
    width: 100%;
}

.enum-pane {
    border-style: double;
    border-color: black;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 66.66%;
    height: 100%;
    overflow-y: scroll;
}

.preview-pane {
    float: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-style: double;
    text-align: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    color: black;
    background-color: white;
    width: 33.33%;
    height: 100%;
    overflow-y: scroll;
}

.access-top {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: silver;
    text-align: left;
    color: black;
    border-style: double;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    font-weight: lighter;
}

.owner {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: salmon;
    text-indent: 5%;
    color: whitesmoke;
}

.selected-preview {
    background-color: gray;
    height: 100%;
    text-align: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    color: whitesmoke
}

.file-counter {
    padding: 10px 10px 10px 10px;
}

.add {
    border-style: double;
    border-width: 3px;
    width: 50%;
    float: left
}

.remove {
    border-style: double;
    border-width: 3px;
    width: 50%;
    float: right
}

.removeList {
    text-align: left;
    padding: 10px 10px 10px 10px;
    margin-left: 30px;
    overflow-y: scroll;
}
