<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Drive Permission Manager</title>
</head>

<body>
    <script>
        function addPermission() {
            let emails = document.getElementById('emailTextEntry').value;
            let role = document.getElementById('inputState').value;
            let fileIds = Array.from(document.querySelectorAll("input[type=checkbox]:checked"));
            let fileIdArray = [];
            let emailArray = emails.split('\n');

            document.getElementById('emailTextEntry').value = '';
            document.getElementById('inputState').value = 'choose...';

            for (let i = 0; i < fileIds.length; i++) {
                fileIdArray.push(fileIds[i].parentElement.parentElement.id)
            }

            requestAddPermissions(fileIdArray, role, "user", emailArray).then(res => {
                if (res) {
                    res.forEach(file => {
                        for (let i = 0; i < files.length; i++) {
                            if (files[i].id == file.id) {
                                files[i] = file;
                                break;
                            }
                        }
                    });
                    fileIds.forEach((file) => {
                        file.checked = false;
                        file.parentElement.style.backgroundColor = '#7ECDFA';
                    });
                    document.getElementById('list').innerHTML = '';
                } else {
                    console.log("no res for addPermission");
                }
            });
        }

        function checkBoxCounter() {
            let checkboxes = document.querySelectorAll("input[name=fileCheckBoxes]:checked");
            let numSelected = checkboxes.length;
            if (numSelected > 0) {
                document.getElementById('list').innerHTML = '';
                document.getElementById('list').innerHTML = '<div class = "selected-preview">' + '<h1 class = "file-counter">' + '<p id ="countText">' + numSelected + ' file(s) selected.' + '</p>' + '</h1>' + '</div>'
            }
            else {
                document.getElementById('list').innerHTML = '';
            }
        }

        function getCheckBoxCounter() {
            let checkboxCount = document.getElementById('countText').innerHTML;
            document.getElementById('areSure').innerHTML = ' ' + '<h1>' + checkboxCount + '</h1>' + '<h1>Are you sure?</h1>';
        }

        function preview(files, fileId) {
            if (document.querySelectorAll("input[name=fileCheckBoxes]:checked").length <= 0) {
                const previewFile = _.find(files, { 'id': fileId });
                let titleOwner = '<p>' + '<h2 id="singleSelectId" name ="' + _.get(previewFile, 'id') + '">' + _.get(previewFile, 'name') + '</h2>' + '</p>';
                titleOwner = titleOwner + '<h3>Owner</h3>' + '<div name="info" class = "dropdown"><button class="btn btn-default dropdown-toggle" type="button" width="100" id="menu1" data-toggle="dropdown">' + _.get(previewFile, 'owners[0].displayName') + '<span class="caret"></span></button>'
                titleOwner = titleOwner + '<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">'
                titleOwner = titleOwner + '<li role="presentation"><a role="menuitem" tabindex="-1" href="#">' + '<b>EMAIL: </b>' + ' ' + _.get(previewFile, 'owners[0].emailAddress') + '</a></li>'
                titleOwner = titleOwner + '</ul>' + '</div>';
                let filePermissions = [];
                filePermissions = _.get(previewFile, 'permissions');
                let accessList = [];
                for (let index = 0; index < filePermissions.length; index++) {
                    if (_.get(filePermissions[index], 'user.displayName') !== "drive-permission-manager@driver-permission-manager.iam.gserviceaccount.com" && _.get(previewFile, 'owners[0].displayName') !== _.get(filePermissions[index], 'user.displayName')) {
                        let accessHolder = '<div name="info" class = "dropdown"><button class="btn btn-default dropdown-toggle" type="button" width="100" id="menu1" data-toggle="dropdown">' + _.get(filePermissions[index], 'user.displayName') + '<span class="caret"></span></button>'
                        accessHolder = accessHolder + '<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">'
                        accessHolder = accessHolder + '<li role="presentation"><a role="menuitem" tabindex="-1" href="#">' + '<b>EMAIL: </b>' + ' ' + _.get(filePermissions[index], 'user.emailAddress') + '</a></li>'
                        accessHolder = accessHolder + '<li role="presentation"><a role="menuitem" tabindex="-1" href="#">' + '<b>ROLE: </b>' + _.get(filePermissions[index], 'role') + '</a></li>'
                        accessHolder = accessHolder + '<li role="presentation"><a role="menuitem" tabindex="-1" href="#">' + '<b>EXPIRES: </b>' + _.get(filePermissions[index], 'expirationDate') + '</a></li>'
                        accessHolder = accessHolder + '</ul>' + '</div>'
                        accessList = accessList + accessHolder;
                    }
                }
                document.getElementById('list').innerHTML = '';
                document.getElementById('list').innerHTML = '<div>' + document.getElementById('list').innerHTML + ' ' + titleOwner + '<h2>Who has access</h2>' + accessList + '<br>' + ' ' + '</br>' + '</div>';
            }
        }

        async function emailRemoveListAwaiter() {
            await emailRemoveList();
        }

        async function removeEmailsAwaiter() {
            await removeEmails();
        }

        //await wherever I call this or .then
        async function emailRemoveList() {
            let fileIds = Array.from(document.querySelectorAll("input[name=fileCheckBoxes]:checked"));
            let matchedFilesPermissions = [];
            let emailArray = [];
            let emailRemoveList = [];

            for (let i = 0; i < fileIds.length; i++) {
                fileIds[i] = fileIds[i].parentElement.parentElement.id;
            }

            getPermissions(fileIds).then(res => {
                if (res) {
                    for (const permission of res) {
                        if (permission.role !== 'owner') {
                            matchedFilesPermissions.push(permission.id);
                            emailArray.push(permission.user.emailAddress);
                        }
                    }
                    let uniqueEmails = [...new Set(emailArray)];
                    let uniqueEmailArray = Array.from(uniqueEmails);
                    for (let i = 0; i < uniqueEmailArray.length; i++) {
                        emailRemoveList = emailRemoveList + '<div class="form-check"><input class="form-check-input" label="removeCheckBox" type="checkbox" value="' + uniqueEmailArray[i] + '" id="flexCheckDefault">  <label class="form-check-label" for="flexCheckDefault">' + uniqueEmailArray[i] + '</label> </div>';
                    }
                    document.getElementById('emailRemoveList').innerHTML = emailRemoveList;
                }
                else {
                    console.log('no res from getPermissions');
                }
            });
        }

        async function removeEmails() {
            let files = JSON.parse(`<%- JSON.stringify(array)%>`);
            let removeFileIds = Array.from(document.querySelectorAll("input[name=fileCheckBoxes]:checked"));
            let removeCheckboxes = document.querySelectorAll("input[label=removeCheckBox]:checked");
            let emailsToRemove = [];
            let fileIds = [];
            let fileIdsToRemoveFrom = []
            let matchedFiles = [];
            let permissionIdsToRemove = [];

            for (let i = 0; i < removeCheckboxes.length; i++) {
                emailsToRemove.push(removeCheckboxes[i].value);
            }

            for (let i = 0; i < removeFileIds.length; i++) {
                fileIds.push(removeFileIds[i].parentElement.parentElement.id);
            }

            getPermissions(fileIds).then(res => {
                if (res) {
                    console.log(JSON.stringify(res));
                    for (const permission of res) {
                        if (permission.role !== 'owner') {
                            permissionIdsToRemove.push(permission.id);
                            console.log(permission.id)
                            console.log('fileId: ' + permission.fileId)
                            fileIdsToRemoveFrom.push(permission.fileId);
                        }
                    }
                    permissionIdsToRemove = Array.from(new Set(permissionIdsToRemove));
                    fileIdsToRemoveFrom = Array.from(new Set(fileIdsToRemoveFrom));
                    console.log(permissionIdsToRemove);
                    console.log(fileIdsToRemoveFrom);
                    requestRemovePermissions(fileIdsToRemoveFrom, permissionIdsToRemove).then(res => {
                        if (res) {
                            console.log(JSON.stringify(res));
                            res.forEach(file => {
                                for (let i = 0; i < files.length; i++) {
                                    if (files[i].id == file.id) {
                                        console.log('file from res: ' + JSON.stringify(file));
                                        console.log('files[i] before: ' + JSON.stringify(files[i]));
                                        files[i] = file;
                                        console.log('files[i] after: ' + JSON.stringify(files[i]));
                                        break;
                                    }
                                }
                            })
                            const isChecked = removeFileIds;
                            isChecked.forEach((file) => {
                                file.checked = false;
                                file.parentElement.style.backgroundColor = '#7ECDFA';
                            });
                            document.getElementById('list').innerHTML = '';
                        } else {
                            console.log("no res for requestRemovePermissions");
                        }
                    });
                }
                else {
                    console.log('no res from getPermissions');
                }
            });




        }
    </script>

    <div class="jumbotron text-center">
        <Header>
            <h1>Welcome to Drive Permission Manager</h1>
        </Header>
    </div>
    <div class="preview-pane">
        <div class="access-top">
            <h1>Preview</h1>
        </div>
        <button type="button" class="btn btn-primary add" data-toggle="modal" data-target="#myModal">Add</button>
        <div class="modal fade" id="myModal" tabindex="-1" data-backdrop="static" data-keyboard="true"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Add Permission(s)</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form onsubmit="">
                            <div class="form-row">
                            </div>
                            <div class="form-group">
                                <label for="emailTextEntry">Email Address(s)</label>
                                <textarea class="form-control" id="emailTextEntry" rows="3"></textarea>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Permission</label>
                                <select id="inputState" class="form-control">
                                    <option selected>choose...</option>
                                    <option>commenter</option>
                                    <option>reader</option>
                                    <option>writer</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="addPermission()" class="btn btn-primary"
                            data-dismiss="modal">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" onclick="emailRemoveListAwaiter()" class="btn btn-primary remove" data-toggle="modal"
            data-target="#myModal2">Remove</button>
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" data-backdrop="true" data-keyboard="true"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Remove Permission(s)</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="removeList" id="emailRemoveList"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="removeEmailsAwaiter()"
                            data-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <p id='list'>
        </p>
        <script type="text/JavaScript">
            const files = JSON.parse(`<%- JSON.stringify(array)%>`);
            </script>
    </div>
    <div class="enum-pane" id='box'>
        <div class="access-top">
            <h1>Drive Contents</h1>
        </div>

        <script>
            // Create an array of all the files/folders that are children of another folder
            const children = files.reduce((children, curr) => {
                return [...children, ...(curr.children || [])];
            }, []);
            // These are the root buttons because they are not children
            const rootParents = files.filter((file) => !children.includes(file.id));
            const onClickHandler = (event) => {
                // Stop click event from propagating up the DOM tree and clicking other buttons
                event.stopPropagation();
                // Select the button's parent (button container) and all its children nodes
                const fileId = event.target.parentNode.id;
                getGrandchildren(fileId).then(res => res.forEach(f => files.push(f)));
                preview(files, fileId);
                const buttonContainer = document.getElementById(fileId);
                const containerNodes = buttonContainer.children;
                if (containerNodes && Array.from(containerNodes).length > 1) {
                    // Button container has child nodes besides the button/folder itself, so "close" the folder
                    // Iterate through each child and remove the child from the button container
                    Array.from(containerNodes).forEach((node, index) => {
                        // Do nothing to the first child, since this is the folder/button itself
                        if (index === 0) return;
                        buttonContainer.removeChild(node);
                    });
                } else {
                    // Button container does not have other children besides the button/folder itself, so "open" the folder
                    // Find the file from the parsed JSON and append a button for each child to the button container
                    const file = files.find((file) => file.id === fileId);
                    (file.children || []).forEach((childId) => {
                        const childFile = files.find((file) => file.id === childId);
                        const childButton = createButton(childFile, ['child']);
                        buttonContainer.appendChild(childButton);
                    });
                }
            }
            // Creates a new button element and applies class names to the button container
            const createButton = (file, classNames = []) => {
                const buttonContainer = document.createElement('div');
                buttonContainer.className = classNames.join(' ');
                // This id is used to find where children will be appended in onClickHandler
                buttonContainer.id = file.id;
                const button = document.createElement('div');
                const checkbox = document.createElement('input');
                const label = document.createElement('div');
                const container = document.createElement('div');
                checkbox.type = 'checkbox';
                checkbox.className = 'checkbox';
                checkbox.name = 'fileCheckBoxes';
                button.classList.add('button');
                label.innerHTML = file.name;


                // if a parent and has children add folder icon
                let folderIcon = document.createElement('icon');
                switch (file.mimeType) {
                    case 'application/vnd.google-apps.folder':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'folder';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.file':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'insert_drive_file';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.document':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'description';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.spreadsheet':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'table_chart';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.presentation':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'slideshow';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.drawing':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'insert_photo';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.form':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'assignment';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.map':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'map';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.photo':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'photo';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.script':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'code';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.site':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'web';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.video':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'video_library';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.audio':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'audiotrack';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.unknown':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'help';
                        container.appendChild(folderIcon) / get
                        break;
                    case 'application/vnd.google-apps.drive-sdk':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'help';
                        container.appendChild(folderIcon)
                        break;
                    case 'application/vnd.google-apps.jam':
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'help';
                        container.appendChild(folderIcon)
                        break;
                    default:
                        folderIcon.className = 'material-icons';
                        folderIcon.textContent = 'insert_drive_file';
                        container.appendChild(folderIcon)
                        break;
                }

                container.appendChild(label);
                button.addEventListener('click', onClickHandler);
                buttonContainer.appendChild(button);
                button.appendChild(container);
                button.appendChild(checkbox);

                //if parent is checked, all appended children are pre-checked
                button.addEventListener('click', function (event) {
                    if (checkbox.checked) {
                        var children = buttonContainer.getElementsByTagName('input');
                        for (var i = 0; i < children.length; i++) {
                            children[i].checked = true;
                            children[i].parentElement.style.backgroundColor = 'grey';
                            checkBoxCounter();
                        }
                    }
                });

                //change the color of the button on checkbox toggle
                checkbox.addEventListener('click', function (event) {
                    if (checkbox.checked) {
                        button.style.backgroundColor = 'grey';
                        checkBoxCounter();
                    } else {
                        button.style.backgroundColor = buttonContainer.style.backgroundColor;
                    }
                    // if parent is checked, check all children
                    if (checkbox.checked) {
                        var children = buttonContainer.getElementsByClassName('checkbox');
                        for (var i = 0; i < children.length; i++) {
                            children[i].checked = true;
                            children[i].parentElement.style.backgroundColor = 'grey';
                        }
                        checkBoxCounter()
                        // if parent is unchecked, uncheck all children    
                    } else {
                        var children = buttonContainer.getElementsByClassName('checkbox');
                        for (var i = 0; i < children.length; i++) {
                            children[i].checked = false;
                            children[i].parentElement.style.backgroundColor = buttonContainer.style.backgroundColor;
                        }
                        checkBoxCounter()
                    }
                });
                return buttonContainer;
            }

            const box = document.getElementById('box');
            const setPermission = async (fileIds) => {
                const url = `/deletePermissions`;
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        fileIds: fileIds
                    })
                });
                if (response.status !== 200) {
                    throw new Error('Error setting permission');
                }
            }

            function removePermission() {
                const fileIds = [];
                const checkBoxes = document.getElementsByClassName('checkbox');
                const isChecked = Array.from(checkBoxes).filter((checkbox) => checkbox.checked);
                isChecked.forEach((file) => {
                    fileIds.push(file.parentElement.parentElement.id);
                });
                requestRemovePermissions(fileIds).then(res => {
                    if (res) {
                        res.forEach(file => {
                            for (let i = 0; i < files.length; i++) {
                                if (files[i].id == file.id) {
                                    files[i] = file;
                                    break;
                                }
                            }
                        })
                        isChecked.forEach((file) => {
                            file.checked = false;
                            file.parentElement.style.backgroundColor = '#7ECDFA';
                        });
                        document.getElementById('list').innerHTML = '';
                    } else {
                        console.log("no res for removePermission");
                    }
                });
            }
            // Add the root parent folders to the root container to start
            rootParents.forEach((parent) => {
                box.appendChild(createButton(parent, ['parent']));
            });
        </script>
        <script src="live-update.js"></script>

    </div>
</body>

</html>