<!-- <html>
<header>
    <title>DPM</title>
    <h1>Welcome to Drive Permission Manager</h1>
</header>

<body>
    <% for( let index=0; index < array.length; index++ ) { %>
        <div>
            <h3></h3>
            <%= array[index].name %>
                
                <button action=console.log()"GET" href="/getpermissions/<%=array[index].id%>">List permissions</button>
                <button>Add permission</button>
                <button>Remove Permission</button>
        </div>
        <% } %>
</body>

</html> -->


<!DOCTYPE html>

<head>
    <html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript" src="webserver\scripts.js"></script>
</head>

<body>
    <h1>Drive Permission Manager</h1>
    <div id="parent-container">
        <h1>This is a Heading</h1>
        <p>This is a paragraph.</p>
        <p>This is another paragraph.</p>
        <input type="button" onclick="helloWorld()" value="Display">
    </div>

</body>

</html>