=<html>
<header>
    <h1>Welcome to Drive Permission Manager</h1>
</header>

<body>
    <% for( let index=0; index < array.length; index++ ) { %>
        <div>
            <h3></h3>
            <button type="button"> <%= array[index].name %> </button>
        </div>
        <% } %>
</body>

</html>


