<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<Header>
    <h1>Welcome to Drive Permission Manager</h1>
</Header>
<body>

    <script>
        const files = JSON.parse('<%- JSON.stringify(array)%>');
        console.log(files);
    </script>
    

    <%
    
    const arr = JSON.stringify(array);
    const files = JSON.parse(arr);

    let children = [];
    files.forEach((file) => {
        children = [...children, ...(file.children || [])];
    });
    console.log(children);

    const parentNodes = files.filter((file) => {
        const result = !children.includes(file.id);
        return result;
    });
    console.log(parentNodes);

    parentNodes.forEach((parent) => {
        
        %>

        <button><%=parent.name%></button>

        <% });

    %>

</body>
</html>